{% extends 'base.html' %}

{% block title %}Отделы{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="page-header">
                <h1>Отделы</h1>
            </div>
            <ul class="list-group">
                {% for department in departments %}
                    {% include 'department_element.html' with element=department %}
                {% empty %}
                    <li>пустой список</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}